<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven/>
	<context:annotation-config />
	<context:component-scan base-package="org.geoserver.slippymap" />

    <!-- controller for slippy map requests -->
	<bean id="slippyTilesController" class="org.geoserver.slippymap.SlippyTilesController">
         <property name="supportedOutputFormats">
             <map>
                 <!--<entry key="pbf" value="application/x-protobuf"/>-->
				 <entry key="pbf" value="application/vnd.mapbox-vector-tile"/>
                 <entry key="png" value="image/png"/>
                 <entry key="jpg" value="image/jpg"/>
                 <entry key="gif" value="image/gif"/>
                 <entry key="tif" value="image/tiff"/>
                 <entry key="svg" value="image/svg"/>
                 <entry key="pdf" value="application/pdf"/>
                 <entry key="rss" value="rss"/>
                 <entry key="kml" value="kml"/>
                 <entry key="kmz" value="kmz"/>
             </map>
         </property>
         <property name="defaultTileSize">
             <map>
                 <entry key="pbf" value="512"/>
                 <entry key="png" value="256"/>
                 <entry key="jpg" value="256"/>
                 <entry key="gif" value="256"/>
                 <entry key="tif" value="256"/>
                 <entry key="svg" value="256"/>
                 <entry key="pdf" value="256"/>
                 <entry key="rss" value="256"/>
                 <entry key="kml" value="256"/>
                 <entry key="kmz" value="256"/>
             </map>
         </property>
     </bean>

     <!-- dispatcher for slippy map tiles-->
     <!--<bean id="slippyMapDispatcherHandling" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
        <property name="mappings">
            <props>
                <prop key="/slippymap/**">slippyTilesController</prop>
            </props>
        </property>
    </bean>-->
    
    <!-- Streaming map output format -->
    <bean id="MVTStreamingMapOutputFormat" class="org.geoserver.wms.mvt.MVTStreamingMapOutputFormat">
    </bean>

    <!-- straming map response -->
    <bean id="MVTStreamingMapResponse" class="org.geoserver.wms.mvt.MVTStreamingMapResponse">
    	<property name="defaultGenLevel" value="MID" />
    	<property name="generalisationTables">
    		<map>
    			<entry key="LOW">
    				<map>
    					<entry key="0" value="0.7" />
    					<entry key="1" value="0.7" />
    					<entry key="2" value="0.6" />
    					<entry key="3" value="0.6" />
    					<entry key="4" value="0.6" />
    					<entry key="5" value="0.6" />
    					<entry key="6" value="0.6" />
    					<entry key="7" value="0.6" />
    					<entry key="8" value="0.6" />
    					<entry key="9" value="0.5" />
    					<entry key="10" value="0.4" />
    					<entry key="11" value="0.35" />
    					<entry key="12" value="0.3" />
    					<entry key="13" value="0.25" />
    					<entry key="14" value="0.2" />
    					<entry key="15" value="0.15" />
    					<entry key="16" value="0.1" />
    					<entry key="17" value="0.05" />
    					<entry key="18" value="0.01" />
    					<entry key="19" value="0.005" />
    					<entry key="20" value="0.001" />
    				</map>
    			</entry>	
    			<entry key="MID">
    				<map>
    					<entry key="0" value="0.8" />
    					<entry key="1" value="0.8" />
    					<entry key="2" value="0.8" />
    					<entry key="3" value="0.7" />
    					<entry key="4" value="0.7" />
    					<entry key="5" value="0.7" />
    					<entry key="6" value="0.7" />
    					<entry key="7" value="0.7" />
    					<entry key="8" value="0.7" />
    					<entry key="9" value="0.6" />
    					<entry key="10" value="0.5" />
    					<entry key="11" value="0.45" />
    					<entry key="12" value="0.4" />
    					<entry key="13" value="0.35" />
    					<entry key="14" value="0.3" />
    					<entry key="15" value="0.25" />
    					<entry key="16" value="0.2" />
    					<entry key="17" value="0.1" />
    					<entry key="18" value="0.05" />
    					<entry key="19" value="0.025" />
    					<entry key="20" value="0.01" />
    				</map>
    			</entry>	
    			<entry key="HIGH">
    				<map>
    					<entry key="0" value="1.0" />
    					<entry key="1" value="1.0" />
    					<entry key="2" value="1.0" />
    					<entry key="3" value="1.0" />
    					<entry key="4" value="1.0" />
    					<entry key="5" value="1.0" />
    					<entry key="6" value="1.0" />
    					<entry key="7" value="0.9" />
    					<entry key="8" value="0.9" />
    					<entry key="9" value="0.8" />
    					<entry key="10" value="0.7" />
    					<entry key="11" value="0.7" />
    					<entry key="12" value="0.7" />
    					<entry key="13" value="0.6" />
    					<entry key="14" value="0.5" />
    					<entry key="15" value="0.4" />
    					<entry key="16" value="0.3" />
    					<entry key="17" value="0.2" />
    					<entry key="18" value="0.1" />
    					<entry key="19" value="0.05" />
    					<entry key="20" value="0.01" />
    				</map>
    			</entry>	
    		</map>
    	</property>
    </bean>
  
</beans>
