<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> 

<beans>

    <!-- controller for slippy map requests -->
    <bean id="slippyMapWrapper" class="org.geoserver.slippymap.SlippyTilesController">
        <property name="supportedOutputFormats">
            <map>
                <entry key="pbf" value="application/x-protobuf"/>
                <entry key="png" value="image/png"/>
                <entry key="jpg" value="image/jpg"/>
                <entry key="gif" value="image/gif"/>
                <entry key="tif" value="image/tiff"/>
                <entry key="svg" value="image/svg"/>
                <entry key="pdf" value="application/pdf"/>
                <entry key="rss" value="rss"/>
                <entry key="kml" value="kml"/>
                <entry key="kmz" value="kmz"/>
            </map>
        </property>
        <property name="defaultTileSize">
            <map>
                <entry key="pbf" value="512"/>
                <entry key="png" value="256"/>
                <entry key="jpg" value="256"/>
                <entry key="gif" value="256"/>
                <entry key="tif" value="256"/>
                <entry key="svg" value="256"/>
                <entry key="pdf" value="256"/>
                <entry key="rss" value="256"/>
                <entry key="kml" value="256"/>
                <entry key="kmz" value="256"/>
            </map>
        </property>
    </bean>

    <!-- dispatcher for slippy map tiles-->
    <bean id="slippyMapDispatcherHandling" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
        <property name="mappings">
            <props>
                <prop key="/slippymap/**">slippyMapWrapper</prop>
            </props>
        </property>
    </bean>

    <!-- Streaming map output format -->
    <bean id="MVTStreamingMapOutputFormat" class="org.geoserver.wms.mvt.MVTStreamingMapOutputFormat">
    </bean>

    <!-- straming map response -->
    <bean id="MVTStreamingMapResponse" class="org.geoserver.wms.mvt.MVTStreamingMapResponse">
    </bean>
  
</beans>
